<!doctype html><html lang=""><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1"><link rel="icon" href="favicon.ico"><title>websocket-push</title><style>*{
        padding: 0;
        margin: 0;
      }
      body{
        background-color: #fff;
      }</style><script defer="defer" type="module" src="js/chunk-vendors.a98cc0a4.js"></script><script defer="defer" type="module" src="js/app.0ebde92d.js"></script><link href="css/app.f1f7514d.css" rel="stylesheet"><script defer="defer" src="js/chunk-vendors-legacy.b39657f6.js" nomodule></script><script defer="defer" src="js/app-legacy.60b6121d.js" nomodule></script></head><body><noscript><strong>We're sorry but ui-pages doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id="app"></div></body></html>